<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container bootstrap snippets bootdey">
    <h1 class="text-center text-primary title">Schedule of Classes</h1>
    <hr class="divider-title">
   <div class="row" >
    <div class="col-ms-10 col-md-4" *ngFor="let class of classes">
        <div class="project">
            <figure class="img-responsive">
              <img src="https://res.cloudinary.com/dtl8igxn0/image/upload/v1611329140/time-management-deadline-schedule-reminder-concept-straggle-cube-wooden-blocks-some-combine-word-time-white-time-142305683_hs1z3g.jpg">
              <figcaption>
                    <span class="project-details">className :{{class.name}}</span>
                </figcaption>
                <span class="actions">
                        <button class="btn btn-warning bnt-action"(click)="getschedule(class.name)" type="submit" >View </button>
                </span>
            </figure>
        </div>
    </div>
    
    
  </div>
</div>       