

<div class="container">
  <div>
  <p>username: marwen , password:1234 , role: admin </p><b></b>
  <p>username: oussema , password:1234 , role: teacher</p><b></b>
  <p>username: nader , password:1234 , role: student</p><b></b>
</div>
  <form>
  <input
    [(ngModel)]="username"
    type="text"
    id="login"
    class="fadeIn second"
    name="login"
    placeholder="login"
  />
  <input
    [(ngModel)]="password"
    type="password"
    id="password"
    class="fadeIn third"
    name="login"
    placeholder="password"
  />
  <select name="login" id="role" [(ngModel)]="role">
    <option value="admin">admin</option>
    <option value="student">student</option>
    <option value="teacher">teacher</option>
    
  </select>
  <input
    (click)="onlogin()"
    type="submit"
    class="fadeIn fourth"
    value="Log In"
  />
</form>
</div>