<app-navbar-student></app-navbar-student>
<div class="mt-5 container">
  <mat-card class="example-card">
    <div class="float-right">
      <mat-card-actions>
        <button
          mat-stroked-button
          color="primary"
          (click)="openStudentDialog(student)"
        >
          Edit Profile
        </button>
      </mat-card-actions>
    </div>
    <div class="row">
      <img class="profileImg col-4" src="{{ student.img }}" alt="" />
      <div class="col-8 details">
        <mat-card-content>
          <mat-list>
            <mat-list-item>Username: {{ student.username }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>First Name: {{ student.firstname }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Last Name: {{ student.lastname }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>CIN: {{ student.cin }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Email: {{ student.email }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Phone Number: {{ student.phone }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Birthday: {{ student.birthday }}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
